.navigation{
grid-area: navigation;
    background-color: yellowgreen;
    width: 185px;
    /*height: 1340px;*/
    margin: 5px 10px 5px 5px;
    border-radius: 5px;
    background-color: rgba(143, 153, 153, 0.5);

}
a{
    text-decoration: none;
}
.link a{
    /*background-color: rgba(124, 47, 61, 0.5);*/
    background-color: rgba(226, 124, 54, 0.5);
    display: grid;
    height: 50px;
    justify-items: center;
    align-items: center;
    color: white;
    margin: 5px;
    font-size: 20px;
}

.link a.active{
    background-color: rgba(226, 124, 54, 0.8);
    color: black;
}
